<div class="jumbotron">
  <div class="page-header">
    <h1>Lisent
      <small>:: Sentiment Analysis API</small>
    </h1>

    <br>
    <p><strong>Sentiment Analysis</strong>: The process of computationally identifying and categorizing opinions
      expressed in a piece of
      text, especially in order to determine whether the writer's attitude towards a particular topic, product, etc., is
      positive, negative, or neutral.</p>

    <!--<br>-->
    <!--<div class="jumbotron example">-->
    <!--<h2>Example</h2>-->

    <!--<br>-->
    <!--<h5>http://lisent.herokuapp.com/api/analyses?input="The Last Jedi was the best Star Wars movie ever!"</h5>-->
    <!--</div>-->

    <br>
    <h4>How to use</h4>
    <ul>
      <li>Enter the desired text into the "input" argument of the below path
        <ul>
          <br>
          <li class="code"><h5>http://lisent.herokuapp.com/compute?input="TEXT"</h5></li>
          <br>
          <li class="json">Example:
            <key>input =</key>

            <value>"The Last Jedi was the best Star Wars movie ever!"</value>
            <br>
            <br>
            <strong>{</strong><br>
            <key>id:</key>
            <value>null</value>
            <strong>,</strong>
            <br>
            <key>classification:</key>
            <value>"Positive"</value>
            <strong>,</strong>
            <br>
            <key>ppos:</key>
            <value>0.7275216854729308</value>
            <strong>,</strong>
            <br>
            <key>pneg:</key>
            <value>0.2724783145270687</value>
            <strong>,</strong>
            <br>
            <key>argued_text:</key>
            <value>"The Last Jedi was the best Star Wars movie ever!"</value>
            <strong>,</strong>
            <br>
            <key>user_key:</key>
            <value>null</value>
            <strong>,</strong><br>
            <strong>}</strong><br>
          </li>
        </ul>
      </li>


      <!--<li>Enter the desired text into the "input" argument of the below path</li>-->
      <!--<li>http://lisent.herokuapp.com/api/analyses?input="The Last Jedi was the best Star Wars movie ever!"</li>-->
    </ul>

    <br>
    <h4>Developed With</h4>
    <ul>
      <li>Ruby on Rails</li>
      <li>Deployed on Heroku</li>
      <li>Python
        <ul>
          <li>Natural Lanuage Toolkit</li>
          <li>Textblob</li>
        </ul>
      </li>
    </ul>
  </div>

  <br>
  <h4>Links</h4>
  <ul>
    <li>https://github.com/Kyle1668/Lisent.io</li>
    <li>www.linkedin.com/in/kyle1668</li>
  </ul>
</div>
</div>